*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.high_mainDiv{
    display: block;
}

.high_head h1{
    color: #e8464c;
    font-size: 40px;
    font-weight: normal;
    line-height: 1.2;
    display: flex;
    align-items: start;
    margin-left: 100px;
    margin-top: 20px;
}

.high_list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 100px;

}

.high_list ul {
    color: black;
    font-weight: lighter;
}